In [23]:
# Dependencies
import pandas as pd
import numpy as np

In [16]:
# Importing data
df = pd.read_table("Lucas_unique_directors_naturalperson_gender.csv", header= None, sep= None, engine="python")
df.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,isin,v1,companynamelatinalphabet,bvdidnumber,name,cname,dmfullname,dmuciuniquecontactidentifie,dmjobtitleinenglish,dmjobtitle,...,gender,dmcorrespondingbvdidwhenapp,dmasanycategory,dmcurrentorprevious,dmbirthplace,dmhasasignatoryright,dmhasapowerofattorney,dmnoofcosinwhichacurrent,compensationsalaryeur,naturalperson
1,NL0012015705,2225,TAKEAWAY.COM N.V.,NL08142836,JUST EAT TAKEAWA,JUST EAT TAKEAWAY COM NV,GRIBHOLD B.V.,C000459947,Director,Bestuurder,...,NaN,NL06089183,No,Previous,NaN,No,No,0,NaN,0
2,NL0000383800,1837,SMIT INTERNATIONALE NV,NL24004888,SMIT INTL.CERTS. DEAD - 05/05/10,SMIT INTL.,Boskalis Holding B.V.,C001024491,Directeur,Directeur,...,NaN,NL23056607,Yes,Current,NaN,No,No,3,NaN,0
3,NL0000289783,12368,ROBECO GLOBAL STARS EQUITIES FUND N.V.,NL24041906,ROBECO SUST.GLB. STARS EQTIES.FD.,ROBECO GLB.STARS EQ.FD.,Robeco Fund Management B.V.,C001055291,Director,Bestuurder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NL0000350361,3289,EXACT HOLDING NV,NL27234422,EXACT HOLDING DEAD - 31/03/15,EXACT HOLDING NV,Exact Management B.V.,C001133291,Directeur,Directeur,...,NaN,NL27228442,No,Current,NaN,No,No,NaN,NaN,0

In [21]:
# Reshaping data frame
data_prev = df.rename(columns=df.iloc[0])
data_inter = data_prev.drop(labels=0,axis="index")
data = data_inter.drop("naturalperson", axis=1)
data.head() # Desired data frame shape

,isin,v1,companynamelatinalphabet,bvdidnumber,name,cname,dmfullname,dmuciuniquecontactidentifie,dmjobtitleinenglish,dmjobtitle,...,dmcorp,gender,dmcorrespondingbvdidwhenapp,dmasanycategory,dmcurrentorprevious,dmbirthplace,dmhasasignatoryright,dmhasapowerofattorney,dmnoofcosinwhichacurrent,compensationsalaryeur
1,NL0012015705,2225,TAKEAWAY.COM N.V.,NL08142836,JUST EAT TAKEAWA,JUST EAT TAKEAWAY COM NV,GRIBHOLD B.V.,C000459947,Director,Bestuurder,...,Previous,NaN,NL06089183,No,Previous,NaN,No,No,0,NaN
2,NL0000383800,1837,SMIT INTERNATIONALE NV,NL24004888,SMIT INTL.CERTS. DEAD - 05/05/10,SMIT INTL.,Boskalis Holding B.V.,C001024491,Directeur,Directeur,...,Current,NaN,NL23056607,Yes,Current,NaN,No,No,3,NaN
3,NL0000289783,12368,ROBECO GLOBAL STARS EQUITIES FUND N.V.,NL24041906,ROBECO SUST.GLB. STARS EQTIES.FD.,ROBECO GLB.STARS EQ.FD.,Robeco Fund Management B.V.,C001055291,Director,Bestuurder,...,Previous,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NL0000350361,3289,EXACT HOLDING NV,NL27234422,EXACT HOLDING DEAD - 31/03/15,EXACT HOLDING NV,Exact Management B.V.,C001133291,Directeur,Directeur,...,Current,NaN,NL27228442,No,Current,NaN,No,No,NaN,NaN
5,NL0009508720,13696,LBI INTERNATIONAL N.V.,NL30277334,LBI INTERNATIONAL DEAD - 07/03/13,LBI INTERNATIONAL NV,Fint Management B.V.,C001200105,Director,Bestuurder,...,Previous,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Task 1: Creating dummy variable 'natural person'

__Logic:__ Using custom binary technique based on string attributes. 
   1. I am checking if column dmfullname has special addressing techniques (e.g. Sir, Dr., Madam ...);
   2. I am checking if column dmfullname has any non-natural person attribute (e.g. numbers, punctuation);
   3. I am checking if column dmfullname has any non-natural person addressing techniques for main regions mapped in the data(e.g. company entity registrations like GmbH or Ltd);

In [43]:
# First filter: Title identifier

# Part 1: function special_person_address_identifier identifies which observations 
# have one of the titles options in dmfullname and creates intermediary columns named
# after the title list option with 1 for positive, e.g. there is a title in dmfullnane,
# or 0 if there is no.

def special_person_address_identifier(address):
    for i in address:
        data[i] = np.where(data["dmfullname"].str.contains(i), 1, 0)
    
titles = ["Sir", "Madam", "Ms", "Mr", "Mrs","Miss", "Dr", "Professor"]
special_person_address_identifier(titles)

# Part 2: I have merge all intermediary title columns, e.g. Sir, into one column called 'TitleCheck'.
# I have then used the same process as Part 1 to investigate which observations had a positive value of 1 and which not.
# This would indicate then which have a positive 'FilterTitle' status. The ones that have are likely natural person while
# the ones with a negative status, a.k.a 0 value, not.

data["TitleCheck"] = data[titles].apply(lambda row: "+" .join(row.values.astype(str)), axis=1)

data["FilterTitle"] = np.where(data["TitleCheck"].str.contains("1"), 1, 0)
data = data.drop(["Sir", "Madam", "Ms", "Mr", "Mrs","Miss", "Dr", "Professor","TitleCheck"], axis=1)
data["FilterTitle"].value_counts()

1    115982
0      7530
Name: FilterTitle, dtype: int64

In [44]:
# Second filter: Non-natural person identifier (Numbers, Signals and other)

def non_natural_identifier(symbols):
    for i in symbols:
        data[i] = np.where(data["dmfullname"].str.contains(i), 1, 0)

symbols_list = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
non_natural_identifier(symbols_list)

data["SymbolsCheck"] = data[symbols_list].apply(lambda row: "+" .join(row.values.astype(str)), axis=1)

data["FilterSymbols"] = np.where(data["SymbolsCheck"].str.contains("1"), 1, 0)
data = data.drop(["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "SymbolsCheck"], axis=1)
data["FilterSymbols"].value_counts()

1    123512
Name: FilterSymbols, dtype: int64