In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
df = pd.read_table("Lucas_unique_directors_naturalperson_gender.csv", header= None, sep= None, engine="python")

In [3]:
# <TASK 2: Gender Differentiation>

# Eline, in the first assigment of this task (jupyter script: "Lucas_naturalperson_gender_worked.ipynb"), 
#           I came up with the dummy variable, "natural person", by checking if Gender was given because a natural person 
#           has Gender while, e.g. a company, does not. This fulfills Task. 1 if the data is perfect / correct to its 
#           full potential, meaning every natural person observation has a categorical value under column Gender and every "non-natural person" not - which
#           might not be the case. However, as Task. 2 regards the differentiation of attribute Gender, I can use the code
#           for Task. 1 to solve Task. 2 and approach Task. 1 in a different way shown below.

# Therefore, I am solving assignment number two using the code I have created in Task 1.
#            -> Here I have worked with a standard label enconding technique
#            -----(see source:https://pbpython.com/categorical-encoding.html)-----
#            -> I will be adding two new columns to the data frame.
#            -> The first new dummy variable is called: "genderencoding" which diffentiates man, woman and non-natural persons;
#               And it follows the following transformation:
#                   1 == male; Natural Person attribute
#                   0 == female; Natural Person attribute
#                   NaN == no Gender information and therefore a company or "non-natural person"
#            -> The second (per your request): "gender_manual" just differentiating: naturalperson & all_gender.
#               And it follows the following transformation:
#                    1 == natural_person; Natural Person attribute
#                    NaN == all_gender; Natural Person attribute

In [4]:
# Checking df data types and doing some small shape changes

df.dtypes # All dtypes are objects -> I want categories
df = df.rename(columns=df.iloc[0]).drop(labels=0,axis="index") # Renaming header, and saving current shape & Droping index 0

In [5]:
df["gender"] = df.gender.astype("category")  # Transforming gender data type into "categorical"
df.dtypes # Checking if it worked -> It worked.

isin                             object
v1                               object
companynamelatinalphabet         object
bvdidnumber                      object
name                             object
cname                            object
dmfullname                       object
dmuciuniquecontactidentifie      object
dmjobtitleinenglish              object
dmjobtitle                       object
dmappointmentdate                object
dmresignationdate                object
dmtitle                          object
dmsalutation                     object
dmfirstname                      object
dmmiddlename                     object
dmlastname                       object
dmsuffix                         object
dmgender                         object
dmbirthdate                      object
dmage                            object
dmagebracket                     object
dmcountryiesofnationality        object
dmaddress                        object
dmcountry                        object
dmemailaddress                   object
dmbiography                      object
dmtypeofrole                     object
dmboardcommitteeordepartmen      object
dmlevelofresponsibility          object
dmalsoashareholder               object
dmconfirmationdates              object
dmdateslastreceivedfromip        object
dmnotvalidafterdate              object
dminformationsources             object
dminformationproviders           object
dmcollege                        object
dmdegreecode                     object
dmmajor                          object
dmgraduationdate                 object
dmcorp                           object
gender                         category
dmcorrespondingbvdidwhenapp      object
dmasanycategory                  object
dmcurrentorprevious              object
dmbirthplace                     object
dmhasasignatoryright             object
dmhasapowerofattorney            object
dmnoofcosinwhichacurrent         object
compensationsalaryeur            object
naturalperson                    object
dtype: object

In [6]:
# <DUMMY VARIABLE: "genderencoding">
df["gender"].value_counts() # Checking categorical variables under column Gender

M    98577
F    20469
Name: gender, dtype: int64

In [7]:
df["genderencoding"] = df["gender"].cat.codes # Creating a copy of column "Gender" and adding it to the data frame, in order to apply the label 
                                              # enconding. The encoding is almost done, the only issue is: NaN values received the numeric value 
                                              # "-1" and I want them to be empty.

In [8]:
df["genderencoding"] = df["genderencoding"].replace(to_replace=-1, value="NaN") # Done! NaN values under "GenderEnconding" that were 
df.tail()

,isin,v1,companynamelatinalphabet,bvdidnumber,name,cname,dmfullname,dmuciuniquecontactidentifie,dmjobtitleinenglish,dmjobtitle,...,dmcorrespondingbvdidwhenapp,dmasanycategory,dmcurrentorprevious,dmbirthplace,dmhasasignatoryright,dmhasapowerofattorney,dmnoofcosinwhichacurrent,compensationsalaryeur,naturalperson,genderencoding
123508,CH0496451508,359,SOFTWAREONE HOLDING AG,CHCHE384378612,SOFTWAREONE HOLDING,SOFTWAREONE HOLDING AG,Daniel Von Stockar,P649256001,Chairman Supervisory Board,Chairman Supervisory Board,...,NaN,No,Current,NaN,No,No,34,NaN,0,NaN
123509,CY0009731015,8461,XXI CENTURY INVESTMENTS PUBLIC LIMITED,CYC132218,XXI CENTURY INVS.PUBLIC DEAD - 03/12/13,XXI CEN.INVS.PUBLIC LTD.,Ms Stella Aristotelous,P649258636,Director,Director,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
123510,GRS228003000,4116,IMERYS INDUSTRIAL MINERALS GREECE S.A.,GR094000952,S&B INDUSTRIAL MRLS. DEAD - 12/07/13,S&B INDUSTRIAL MRLS.SA,Anastasia Amvrosiadou,P649259308,Chief Executive Officer,Chief Executive Officer,...,NaN,No,Current,NaN,No,No,1,NaN,0,NaN
123511,CY0007400613,8843,CHRIS JOANNOU PUBLIC LTD,CYC12013,CHRIS IOANNOU,CHRIS IOANNOU PCL.,Mr Georgios Evripidou,P649264673,Director,Director,...,NaN,No,Current,NaN,No,No,1,NaN,1,1
123512,MT0001000109,4244,CATENA MEDIA PLC,MTC70858,CATENA MEDIA,CATENA MEDIA,Mr Adam Krejcik,P649265205,Director,Director,...,NaN,No,Current,NaN,No,No,1,NaN,1,1

In [9]:
# <Dummy Variable: gender_manual> -> Simplified version of "genderencoding" differetiating only natural from non-natural person
df["gender_manual"] = df["genderencoding"] # Created new dummy variable
df.tail()

,isin,v1,companynamelatinalphabet,bvdidnumber,name,cname,dmfullname,dmuciuniquecontactidentifie,dmjobtitleinenglish,dmjobtitle,...,dmasanycategory,dmcurrentorprevious,dmbirthplace,dmhasasignatoryright,dmhasapowerofattorney,dmnoofcosinwhichacurrent,compensationsalaryeur,naturalperson,genderencoding,gender_manual
123508,CH0496451508,359,SOFTWAREONE HOLDING AG,CHCHE384378612,SOFTWAREONE HOLDING,SOFTWAREONE HOLDING AG,Daniel Von Stockar,P649256001,Chairman Supervisory Board,Chairman Supervisory Board,...,No,Current,NaN,No,No,34,NaN,0,NaN,NaN
123509,CY0009731015,8461,XXI CENTURY INVESTMENTS PUBLIC LIMITED,CYC132218,XXI CENTURY INVS.PUBLIC DEAD - 03/12/13,XXI CEN.INVS.PUBLIC LTD.,Ms Stella Aristotelous,P649258636,Director,Director,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
123510,GRS228003000,4116,IMERYS INDUSTRIAL MINERALS GREECE S.A.,GR094000952,S&B INDUSTRIAL MRLS. DEAD - 12/07/13,S&B INDUSTRIAL MRLS.SA,Anastasia Amvrosiadou,P649259308,Chief Executive Officer,Chief Executive Officer,...,No,Current,NaN,No,No,1,NaN,0,NaN,NaN
123511,CY0007400613,8843,CHRIS JOANNOU PUBLIC LTD,CYC12013,CHRIS IOANNOU,CHRIS IOANNOU PCL.,Mr Georgios Evripidou,P649264673,Director,Director,...,No,Current,NaN,No,No,1,NaN,1,1,1
123512,MT0001000109,4244,CATENA MEDIA PLC,MTC70858,CATENA MEDIA,CATENA MEDIA,Mr Adam Krejcik,P649265205,Director,Director,...,No,Current,NaN,No,No,1,NaN,1,1,1

In [10]:
df["gender_manual"] = df["gender_manual"].replace(to_replace=0, value="1") # Shaped the dummy variable to differetiate natural persons with a numeric value = 1 
#                                                                            & non-natural persons with a numeric value = NaN. Assignment 2 is done. 
df.head() # Checking if it works and it does.

,isin,v1,companynamelatinalphabet,bvdidnumber,name,cname,dmfullname,dmuciuniquecontactidentifie,dmjobtitleinenglish,dmjobtitle,...,dmasanycategory,dmcurrentorprevious,dmbirthplace,dmhasasignatoryright,dmhasapowerofattorney,dmnoofcosinwhichacurrent,compensationsalaryeur,naturalperson,genderencoding,gender_manual
1,NL0012015705,2225,TAKEAWAY.COM N.V.,NL08142836,JUST EAT TAKEAWA,JUST EAT TAKEAWAY COM NV,GRIBHOLD B.V.,C000459947,Director,Bestuurder,...,No,Previous,NaN,No,No,0,NaN,0,NaN,NaN
2,NL0000383800,1837,SMIT INTERNATIONALE NV,NL24004888,SMIT INTL.CERTS. DEAD - 05/05/10,SMIT INTL.,Boskalis Holding B.V.,C001024491,Directeur,Directeur,...,Yes,Current,NaN,No,No,3,NaN,0,NaN,NaN
3,NL0000289783,12368,ROBECO GLOBAL STARS EQUITIES FUND N.V.,NL24041906,ROBECO SUST.GLB. STARS EQTIES.FD.,ROBECO GLB.STARS EQ.FD.,Robeco Fund Management B.V.,C001055291,Director,Bestuurder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NL0000350361,3289,EXACT HOLDING NV,NL27234422,EXACT HOLDING DEAD - 31/03/15,EXACT HOLDING NV,Exact Management B.V.,C001133291,Directeur,Directeur,...,No,Current,NaN,No,No,NaN,NaN,0,NaN,NaN
5,NL0009508720,13696,LBI INTERNATIONAL N.V.,NL30277334,LBI INTERNATIONAL DEAD - 07/03/13,LBI INTERNATIONAL NV,Fint Management B.V.,C001200105,Director,Bestuurder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# <TASK 1: Making dummy variable more robust>  Previosly, I have filtered it just using Gender because 
#                                              I assumed the data was 100% reliable - amateur mistake sorry. 

df = df.drop("naturalperson", axis=1) # Deleting old dummy variable "naturalperson"

In [12]:
# Now I am applying a custom binary enconding technique. 
#     Here I am looking for specific string values in different columns. 
#     If there is a string value I am looking for dummy variable: 
#     "NaturalPersonTitleCheckStatus" has a value of 1 otherwise 0.


df["SirTitleCheck"] = np.where(df["dmfullname"].str.contains("Sir"), 1, 0)                   # Checking string values regarding natural persons name. The code here is repetitive, using str.contains() I did't find a way to iterate multiple labels at the same time - sorry :/
df["MadamTitleCheck"] = np.where(df["dmfullname"].str.contains("Madam"), 1, 0)
df["MsTitleCheck"] = np.where(df["dmfullname"].str.contains("Ms"), 1, 0)
df["MrTitleCheck"] = np.where(df["dmfullname"].str.contains("Mr"), 1, 0)
df["MrsTitleCheck"] = np.where(df["dmfullname"].str.contains("Mrs"), 1, 0)
df["MissTitleCheck"] = np.where(df["dmfullname"].str.contains("Miss"), 1, 0)
df["DrTitleCheck"] = np.where(df["dmfullname"].str.contains("Dr"), 1, 0)
df["ProfessorTitleCheck"] = np.where(df["dmfullname"].str.contains("Professor"), 1, 0)

cols = ["SirTitleCheck","MadamTitleCheck", "MsTitleCheck", "MrTitleCheck", "MrsTitleCheck", "MrsTitleCheck", "MissTitleCheck", "DrTitleCheck", "ProfessorTitleCheck"]
df["NaturalPersonTitleCheck"] = df[cols].apply(lambda row: "+" .join(row.values.astype(str)), axis=1) # Joining all new columns, and having them as string dtype 

df["NaturalPersonTitleCheckStatus"] = np.where(df["NaturalPersonTitleCheck"].str.contains("1"), 1, 0) # If a 1 is part of this string, it means that a Natural person title was found. Therefore, 1 represents possible natural persons while 0 non-natural persons.
df = df.drop(["SirTitleCheck","MadamTitleCheck", "MsTitleCheck", "MrTitleCheck", "MrsTitleCheck", "MrsTitleCheck", "MissTitleCheck", "DrTitleCheck", "ProfessorTitleCheck", "NaturalPersonTitleCheck"], axis=1)
df.head()

,isin,v1,companynamelatinalphabet,bvdidnumber,name,cname,dmfullname,dmuciuniquecontactidentifie,dmjobtitleinenglish,dmjobtitle,...,dmasanycategory,dmcurrentorprevious,dmbirthplace,dmhasasignatoryright,dmhasapowerofattorney,dmnoofcosinwhichacurrent,compensationsalaryeur,genderencoding,gender_manual,NaturalPersonTitleCheckStatus
1,NL0012015705,2225,TAKEAWAY.COM N.V.,NL08142836,JUST EAT TAKEAWA,JUST EAT TAKEAWAY COM NV,GRIBHOLD B.V.,C000459947,Director,Bestuurder,...,No,Previous,NaN,No,No,0,NaN,NaN,NaN,0
2,NL0000383800,1837,SMIT INTERNATIONALE NV,NL24004888,SMIT INTL.CERTS. DEAD - 05/05/10,SMIT INTL.,Boskalis Holding B.V.,C001024491,Directeur,Directeur,...,Yes,Current,NaN,No,No,3,NaN,NaN,NaN,0
3,NL0000289783,12368,ROBECO GLOBAL STARS EQUITIES FUND N.V.,NL24041906,ROBECO SUST.GLB. STARS EQTIES.FD.,ROBECO GLB.STARS EQ.FD.,Robeco Fund Management B.V.,C001055291,Director,Bestuurder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,NL0000350361,3289,EXACT HOLDING NV,NL27234422,EXACT HOLDING DEAD - 31/03/15,EXACT HOLDING NV,Exact Management B.V.,C001133291,Directeur,Directeur,...,No,Current,NaN,No,No,NaN,NaN,NaN,NaN,0
5,NL0009508720,13696,LBI INTERNATIONAL N.V.,NL30277334,LBI INTERNATIONAL DEAD - 07/03/13,LBI INTERNATIONAL NV,Fint Management B.V.,C001200105,Director,Bestuurder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [13]:
# Now I wil apply same procedure but looking for numerical string values in dmfullname: e.g. "1", "2", "3"
     
df["Numeric9TitleCheck"] = np.where(df["dmfullname"].str.contains("9"), 1, 0) # Checking string values regarding non-natural persons name. The code here is repetitive, using str.contains() I did't find a way to iterate multiple labels at the same time - sorry :/
df["Numeric8TitleCheck"] = np.where(df["dmfullname"].str.contains("8"), 1, 0) 
df["Numeric7TitleCheck"] = np.where(df["dmfullname"].str.contains("7"), 1, 0) 
df["Numeric6TitleCheck"] = np.where(df["dmfullname"].str.contains("6"), 1, 0)
df["Numeric5TitleCheck"] = np.where(df["dmfullname"].str.contains("5"), 1, 0) 
df["Numeric4TitleCheck"] = np.where(df["dmfullname"].str.contains("4"), 1, 0) 
df["Numeric3TitleCheck"] = np.where(df["dmfullname"].str.contains("3"), 1, 0)
df["Numeric2TitleCheck"] = np.where(df["dmfullname"].str.contains("2"), 1, 0) 
df["Numeric1TitleCheck"] = np.where(df["dmfullname"].str.contains("1"), 1, 0) 
df["Numeric0TitleCheck"] = np.where(df["dmfullname"].str.contains("0"), 1, 0)

numeric_filter = ["Numeric9TitleCheck", "Numeric8TitleCheck", "Numeric7TitleCheck", "Numeric6TitleCheck","Numeric5TitleCheck", "Numeric4TitleCheck", "Numeric3TitleCheck", "Numeric2TitleCheck", "Numeric1TitleCheck", "Numeric0TitleCheck"]
df["NumericTitleCheck"] = df[numeric_filter].apply(lambda row: "+" .join(row.values.astype(str)), axis=1) # Joining all new columns, and having them as string dtype 
df["NumericTitleCheckStatus"] = np.where(df["NumericTitleCheck"].str.contains("1"), 1, 0) # If a 1 is part of this string, it means that a numeric value was found, implying this is certainly not a natural person. Therefore, 1 represents a non-natural persons while 0 natural persons.
df.drop(["Numeric9TitleCheck", "Numeric8TitleCheck", "Numeric7TitleCheck", "Numeric6TitleCheck","Numeric5TitleCheck", "Numeric4TitleCheck", "Numeric3TitleCheck", "Numeric2TitleCheck", "Numeric1TitleCheck", "Numeric0TitleCheck", "NumericTitleCheck"],axis=1)
df["NumericTitleCheckStatus"].value_counts() # Know that out of all observations 120 are non-natural person for sure

0    123392
1       120
Name: NumericTitleCheckStatus, dtype: int64

In [14]:
# Now I wil apply the same procedure as above but looking for companies string values in dmfullname: such as "B.V.", "Limited", "GmbH"....

df["dmcountry"].value_counts() # Discovering all locations in the data set because I will just check for company titles withing the main countries given

Italy                               8858
United Kingdom                      8176
Germany                             7410
Switzerland                         5727
Belgium                             3678
                                    ...
Lao People'S Democratic Republic       1
Costa Rica                             1
Namibia                                1
Albania                                1
Niger                                  1
Name: dmcountry, Length: 116, dtype: int64

In [15]:
df["S.p.a.TitleCheck"] = np.where(df["dmfullname"].str.contains("S.p.a."), 1, 0) # Italy company titles (8858 observations)
df["S.r.l.TitleCheck"] = np.where(df["dmfullname"].str.contains("S.r.l."), 1, 0)

df["LtdTitleCheck"] = np.where(df["dmfullname"].str.contains("Ltd"), 1, 0) # UK company titles (8176 observations)
df["PLCTitleCheck"] = np.where(df["dmfullname"].str.contains("PLC"), 1, 0)
df["PLCTitleCheck"] = np.where(df["dmfullname"].str.contains("PLC"), 1, 0)
df["B.V.TitleCheck"] = np.where(df["dmfullname"].str.contains("B.V."), 1, 0)
df["LimitedTitleCheck"] = np.where(df["dmfullname"].str.contains("Limited"), 1, 0) 
 
df["GmbHTitleCheck"] = np.where(df["dmfullname"].str.contains("GmbH"), 1, 0) # German company titles (7410 observations) & Switzerland company titles (5727)
df["AGTitleCheck"] = np.where(df["dmfullname"].str.contains("AG"), 1, 0)
df["UGTitleCheck"] = np.where(df["dmfullname"].str.contains("UG"), 1, 0)
df["e.V.TitleCheck"] = np.where(df["dmfullname"].str.contains("e.V."), 1, 0)

df["SASTitleCheck"] = np.where(df["dmfullname"].str.contains("SAS"), 1, 0) # France company titles (2611 observations)
df["SARLTitleCheck"] = np.where(df["dmfullname"].str.contains("SARL"), 1, 0)
df["SATitleCheck"] = np.where(df["dmfullname"].str.contains("SA"), 1, 0)


df["OGTitleCheck"] = np.where(df["dmfullname"].str.contains("OG"), 1, 0) # Austria company titles (1369 observations)
df["KGTitleCheck"] = np.where(df["dmfullname"].str.contains("KG"), 1, 0)

df["LLCTitleCheck"] = np.where(df["dmfullname"].str.contains("LLC"), 1, 0) # USA company titles (1247 observations)

df["U.A.TitleCheck"] = np.where(df["dmfullname"].str.contains("U.A."), 1, 0) # Netherlands company titles (955 observations)
df["C.V.TitleCheck"] = np.where(df["dmfullname"].str.contains("C.V."), 1, 0) 

df["ABTitleCheck"] = np.where(df["dmfullname"].str.contains("AB"), 1, 0) # Sweden company titles (705 observations)
df["HBTitleCheck"] = np.where(df["dmfullname"].str.contains("HB"), 1, 0)
df["KBTitleCheck"] = np.where(df["dmfullname"].str.contains("KB"), 1, 0)

df["Zrt.TitleCheck"] = np.where(df["dmfullname"].str.contains("Zrt."), 1, 0) # Hungary company titles (429 observations)
df["Kft.TitleCheck"] = np.where(df["dmfullname"].str.contains("Kft."), 1, 0)

df["S.à r.l.TitleCheck"] = np.where(df["dmfullname"].str.contains("S.à r.l."), 1, 0) # Luxembourg company titles (399 observations)
df["S.A.TitleCheck"] = np.where(df["dmfullname"].str.contains("S.A."), 1, 0)
df["SCSpTitleCheck"] = np.where(df["dmfullname"].str.contains("SCSp"), 1, 0)

df["LLCsTitleCheck"] = np.where(df["dmfullname"].str.contains("LLCs"), 1, 0) # Norway company titles (250 observations)

df["OyTitleCheck"] = np.where(df["dmfullname"].str.contains("Oy"), 1, 0) # Finland company titles (221 observations)

df["LTDTitleCheck"] = np.where(df["dmfullname"].str.contains("LTD"), 1, 0) # Ireland company titles (170 observations)

df["L.T.D.TitleCheck"] = np.where(df["dmfullname"].str.contains("L.T.D."), 1, 0) # Greece company titles (116 observations)
df["P.C.TitleCheck"] = np.where(df["dmfullname"].str.contains("P.C."), 1, 0)

In [16]:
company_filter = ["S.p.a.TitleCheck", "S.r.l.TitleCheck","LtdTitleCheck", "PLCTitleCheck", "PLCTitleCheck", "B.V.TitleCheck", "LimitedTitleCheck", "GmbHTitleCheck", "AGTitleCheck", "UGTitleCheck", "e.V.TitleCheck", "SASTitleCheck", "SARLTitleCheck", "SATitleCheck", "OGTitleCheck", "KGTitleCheck", "LLCTitleCheck", "U.A.TitleCheck", "C.V.TitleCheck", "ABTitleCheck", "HBTitleCheck", "KBTitleCheck", "Zrt.TitleCheck","Kft.TitleCheck", "S.à r.l.TitleCheck", "S.A.TitleCheck", "SCSpTitleCheck", "LLCsTitleCheck", "OyTitleCheck", "LTDTitleCheck", "L.T.D.TitleCheck", "P.C.TitleCheck"]
df["CompanyTitleCheck"] = df[company_filter].apply(lambda row: "+" .join(row.values.astype(str)), axis=1) # Joining all new columns, and having them as string dtype 
df["CompanyTitleCheckStatus"] = np.where(df["CompanyTitleCheck"].str.contains("1"), 1, 0) # If a 1 is part of this string, it means that a numeric value was found, implying this is certainly not a natural person. Therefore, 1 represents a non-natural persons while 0 natural persons.
df["CompanyTitleCheckStatus"].value_counts() # Know that out of all observations 120 are non-natural person for sure

0    121992
1      1520
Name: CompanyTitleCheckStatus, dtype: int64

In [17]:
# Finally, creating dummy variable "natural person".
df.dtypes

isin                        object
v1                          object
companynamelatinalphabet    object
bvdidnumber                 object
name                        object
                             ...
LTDTitleCheck                int32
L.T.D.TitleCheck             int32
P.C.TitleCheck               int32
CompanyTitleCheck           object
CompanyTitleCheckStatus      int32
Length: 98, dtype: object

In [21]:
df_demo = df.drop(["Numeric9TitleCheck", "Numeric8TitleCheck", "Numeric7TitleCheck", "Numeric6TitleCheck","Numeric5TitleCheck", "Numeric4TitleCheck", "Numeric3TitleCheck", "Numeric2TitleCheck", "Numeric1TitleCheck", "Numeric0TitleCheck", "NumericTitleCheck","S.p.a.TitleCheck", "S.r.l.TitleCheck","LtdTitleCheck", "PLCTitleCheck", "PLCTitleCheck", "B.V.TitleCheck", "LimitedTitleCheck", "GmbHTitleCheck", "AGTitleCheck", "UGTitleCheck", "e.V.TitleCheck", "SASTitleCheck", "SARLTitleCheck", "SATitleCheck", "OGTitleCheck", "KGTitleCheck", "LLCTitleCheck", "U.A.TitleCheck", "C.V.TitleCheck", "ABTitleCheck", "HBTitleCheck", "KBTitleCheck", "Zrt.TitleCheck","Kft.TitleCheck", "S.à r.l.TitleCheck", "S.A.TitleCheck", "SCSpTitleCheck", "LLCsTitleCheck", "OyTitleCheck", "LTDTitleCheck", "L.T.D.TitleCheck", "P.C.TitleCheck", "CompanyTitleCheck"],axis=1)
df_demo.head()

,isin,v1,companynamelatinalphabet,bvdidnumber,name,cname,dmfullname,dmuciuniquecontactidentifie,dmjobtitleinenglish,dmjobtitle,...,dmbirthplace,dmhasasignatoryright,dmhasapowerofattorney,dmnoofcosinwhichacurrent,compensationsalaryeur,genderencoding,gender_manual,NaturalPersonTitleCheckStatus,NumericTitleCheckStatus,CompanyTitleCheckStatus
1,NL0012015705,2225,TAKEAWAY.COM N.V.,NL08142836,JUST EAT TAKEAWA,JUST EAT TAKEAWAY COM NV,GRIBHOLD B.V.,C000459947,Director,Bestuurder,...,NaN,No,No,0,NaN,NaN,NaN,0,0,1
2,NL0000383800,1837,SMIT INTERNATIONALE NV,NL24004888,SMIT INTL.CERTS. DEAD - 05/05/10,SMIT INTL.,Boskalis Holding B.V.,C001024491,Directeur,Directeur,...,NaN,No,No,3,NaN,NaN,NaN,0,0,1
3,NL0000289783,12368,ROBECO GLOBAL STARS EQUITIES FUND N.V.,NL24041906,ROBECO SUST.GLB. STARS EQTIES.FD.,ROBECO GLB.STARS EQ.FD.,Robeco Fund Management B.V.,C001055291,Director,Bestuurder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
4,NL0000350361,3289,EXACT HOLDING NV,NL27234422,EXACT HOLDING DEAD - 31/03/15,EXACT HOLDING NV,Exact Management B.V.,C001133291,Directeur,Directeur,...,NaN,No,No,NaN,NaN,NaN,NaN,0,0,1
5,NL0009508720,13696,LBI INTERNATIONAL N.V.,NL30277334,LBI INTERNATIONAL DEAD - 07/03/13,LBI INTERNATIONAL NV,Fint Management B.V.,C001200105,Director,Bestuurder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1

In [23]:
# List of conditions
conditions = [
    (df_demo['NumericTitleCheckStatus'] == 1), # This conditions is secure. It describes the following: if a number exists in dmfullname -> non-natural person.
    (df_demo['CompanyTitleCheckStatus'] == 1), # This conditions is secure. It describes the following: if a company fiscal title exists in dmfullname -> non-natural person.
    (df_demo['NaturalPersonTitleCheckStatus'] == 0) & (df_demo['gender_manual'] != 1) , # This conditions is partialy secure. It describes the following: if no person title exists in dmfullname and no gender is given -> non-natural person. 
    (df_demo['NaturalPersonTitleCheckStatus'] == 1) & (df_demo['gender_manual'] != 1), # This conditions is partialy secure. Here gender has a higher weight. I am trying to address dmfullnames with natural person titles that are possible companies,e.g. Dr Schwarz, which could potentially be a company eventhough it has natural person title.
    (df_demo['NaturalPersonTitleCheckStatus'] == 1) & (df_demo['gender_manual'] == 1), # This conditions is partialy secure. It describes the following: if a person title exists in dmfullname and gender is given -> natural person.
    (df_demo['NumericTitleCheckStatus'] == 0) & (df_demo['gender_manual'] == 1), # This conditions is partialy secure. It describes the following: if no numeric value exists in dmfullname and gender is given -> natural person.
    (df_demo['CompanyTitleCheckStatus'] == 0) & (df_demo['gender_manual'] == 1), # # This conditions is partialy secure. It describes the following: if no company fiscal title exists in dmfullname and gender is given -> natural person.
]

# create a list of the values we want to assign for each condition
values = ['non', 'non', 'non', 'non','natural','natural', 'natural']

# create a new column and use np.select to assign values to it using our lists as arguments
df_demo['naturalperson'] = np.select(conditions, values)

In [25]:
df_demo['naturalperson'].value_counts() # Result: 98047 natural & 25465 non-natural

natural    98047
non        25465
Name: naturalperson, dtype: int64

In [26]:
df_demo['naturalperson'] = df_demo['naturalperson'].astype('str')
df_demo['naturalperson'] = np.where(df_demo['naturalperson'].str.contains("non"), 0, 1)

In [30]:
df_demo['naturalperson'].value_counts()

1    98047
0    25465
Name: naturalperson, dtype: int64

In [ ]:
# Possible problem: There are observations which do not have gender given and are likely natural person with no title given. Do you have a suggestion on how to filter them?

In [31]:
df_demo.head()

,isin,v1,companynamelatinalphabet,bvdidnumber,name,cname,dmfullname,dmuciuniquecontactidentifie,dmjobtitleinenglish,dmjobtitle,...,dmhasasignatoryright,dmhasapowerofattorney,dmnoofcosinwhichacurrent,compensationsalaryeur,genderencoding,gender_manual,NaturalPersonTitleCheckStatus,NumericTitleCheckStatus,CompanyTitleCheckStatus,naturalperson
1,NL0012015705,2225,TAKEAWAY.COM N.V.,NL08142836,JUST EAT TAKEAWA,JUST EAT TAKEAWAY COM NV,GRIBHOLD B.V.,C000459947,Director,Bestuurder,...,No,No,0,NaN,NaN,NaN,0,0,1,0
2,NL0000383800,1837,SMIT INTERNATIONALE NV,NL24004888,SMIT INTL.CERTS. DEAD - 05/05/10,SMIT INTL.,Boskalis Holding B.V.,C001024491,Directeur,Directeur,...,No,No,3,NaN,NaN,NaN,0,0,1,0
3,NL0000289783,12368,ROBECO GLOBAL STARS EQUITIES FUND N.V.,NL24041906,ROBECO SUST.GLB. STARS EQTIES.FD.,ROBECO GLB.STARS EQ.FD.,Robeco Fund Management B.V.,C001055291,Director,Bestuurder,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0
4,NL0000350361,3289,EXACT HOLDING NV,NL27234422,EXACT HOLDING DEAD - 31/03/15,EXACT HOLDING NV,Exact Management B.V.,C001133291,Directeur,Directeur,...,No,No,NaN,NaN,NaN,NaN,0,0,1,0
5,NL0009508720,13696,LBI INTERNATIONAL N.V.,NL30277334,LBI INTERNATIONAL DEAD - 07/03/13,LBI INTERNATIONAL NV,Fint Management B.V.,C001200105,Director,Bestuurder,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0

In [32]:
df_review = df_demo.drop(["NaturalPersonTitleCheckStatus", "NumericTitleCheckStatus", "CompanyTitleCheckStatus"], axis=1)

In [34]:
df_review.head()

,isin,v1,companynamelatinalphabet,bvdidnumber,name,cname,dmfullname,dmuciuniquecontactidentifie,dmjobtitleinenglish,dmjobtitle,...,dmasanycategory,dmcurrentorprevious,dmbirthplace,dmhasasignatoryright,dmhasapowerofattorney,dmnoofcosinwhichacurrent,compensationsalaryeur,genderencoding,gender_manual,naturalperson
1,NL0012015705,2225,TAKEAWAY.COM N.V.,NL08142836,JUST EAT TAKEAWA,JUST EAT TAKEAWAY COM NV,GRIBHOLD B.V.,C000459947,Director,Bestuurder,...,No,Previous,NaN,No,No,0,NaN,NaN,NaN,0
2,NL0000383800,1837,SMIT INTERNATIONALE NV,NL24004888,SMIT INTL.CERTS. DEAD - 05/05/10,SMIT INTL.,Boskalis Holding B.V.,C001024491,Directeur,Directeur,...,Yes,Current,NaN,No,No,3,NaN,NaN,NaN,0
3,NL0000289783,12368,ROBECO GLOBAL STARS EQUITIES FUND N.V.,NL24041906,ROBECO SUST.GLB. STARS EQTIES.FD.,ROBECO GLB.STARS EQ.FD.,Robeco Fund Management B.V.,C001055291,Director,Bestuurder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,NL0000350361,3289,EXACT HOLDING NV,NL27234422,EXACT HOLDING DEAD - 31/03/15,EXACT HOLDING NV,Exact Management B.V.,C001133291,Directeur,Directeur,...,No,Current,NaN,No,No,NaN,NaN,NaN,NaN,0
5,NL0009508720,13696,LBI INTERNATIONAL N.V.,NL30277334,LBI INTERNATIONAL DEAD - 07/03/13,LBI INTERNATIONAL NV,Fint Management B.V.,C001200105,Director,Bestuurder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [35]:
df_review.to_csv("Lucas_unique_directors_naturalperson_gender_review.csv")